.vertical-table{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 55px;
    left: 0px;
    bottom: 0px;
    align-items: center;
    width: 60px;

}

.vertical-icon{
    height: 30px;
    margin-top: 20px;
    margin-left: 15px;
    margin-right:0px;
    margin-bottom: 1px;
    padding-bottom: 0px;
    cursor: pointer;
}

.vertical-table-text{
    padding-top: 0px;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 0px;
    font-size: 11px;
}

#you-text{
    margin-left: 29px;
    margin-top: 0px;

}

#subscription-text{
    margin-left: 25px;
    margin-top: 0px;
}

#subs-icon{
    margin-left: 33px;
    height: 35px;
    margin-bottom: 0px;

}

#user-icon{
    height: 35px;
    margin-bottom: 0px;
}