p{
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 0;
}

body{
    margin: 0;
    padding-top: 60px;
    margin-right: 25px;
    margin-left: 4px;
}



::-webkit-scrollbar {
  width: 8px;
}


::-webkit-scrollbar-track {
  background: #ffffff;
}


::-webkit-scrollbar-thumb {

    background: #555;
    border-radius: 20px;

}


::-webkit-scrollbar-thumb:hover {

  background: #888;
}


