.header{
    display: flex;
    height: 55px;
    justify-content: space-between;
    background-color: rgba(255, 255, 255,0.98);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
   
}

.left-section{
    align-items: center;
    display: flex;
}

.hamburger-menu{
    height: 20px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    padding: 8px ;
    border-radius: 15px;
}

.hamburger-menu:hover{
    background-color: rgb(228, 227, 227);
}

.youtube-name-logo{
    height: 60px;
    cursor: pointer;
}

.country{
    font-family: arial;
    font-size: 8px;
    margin-left: 2px;
    margin-bottom: 14px;
    color: gray;
}

.middle-section{
    display: flex;
    flex: 1;
    margin-left: 110px;
    margin-right: 40px;
    align-items: center;
 
}

.search-input{
    max-width: 450px;
    height: 36px;
    border-radius: 18px 0 0 18px;
    border-style: solid;
    border-width: 1px;
    margin-left: 20px;
    padding-left: 12px;
    flex: 1;
    font-size: 17px;
    font-family: arial;
    box-shadow:  inset 1px 2px 3px rgb(0,0,0,0.05);
}

.search-input:focus{
    box-shadow:  inset 0.5px 0.3px 2px rgba(0, 0, 0, 0.933);
    outline: 0.3px;
    border-color: blue;
}

.search-icon{
    width: 21px;
    border-width: 2px;
    border-radius: 0px;
    padding-right: 6px;
    padding-left: 4px;

}

.search-icon-button{
   width: 60px;
   border-radius: 0 18px 18px 0;
   border-width: 0.4px;
   border-style: solid;
   height: 39.2px;
   margin-left: -1px;
   border-color: gray;
   cursor: pointer;
   background-color: rgb(242, 241, 241);
}

.search-icon-button:hover{
    background-color: rgb(228, 228, 228);
}

.voice-icon{
    height: 24px;
    margin-top: 4px;
}

.voice-icon-button{
    width: 50px;
    height: 39.2px;
    margin-left: 20px;
    border-radius:20px;
    border-width: 0px;
    border-style: solid;
    background-color: rgb(242, 241, 241);
    cursor: pointer;
   
}

.voice-icon-button:hover{
    background-color: rgb(228, 228, 228);
}


.right-section{
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.create-icon{
    width: 18px;
    height: 40%;
}

.create-text{
    font-family: arial;
    font-size: 14px;
    padding-left: 2px;
    font-weight: bold;

}

.create-icon-button{
    border-radius: 20px;
    border-width: 0px;
    width: 100px;
    display: flex;
    height: 39.2px;
    align-items: center;
    padding-left: 16px;
    cursor: pointer;
    background-color: rgb(242, 241, 241);
} 

.create-icon-button:hover{
     background-color: rgb(228, 228, 228);
}

.notification-icon{
    width: 24px;
    cursor: pointer;
    border-radius: 24px;
    
}
.notification-icon-button{
    margin-left: 20px;
    border-radius: 35px;
    border-width: 0px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: white;
    width: 50px;
}

.notification-icon-button:hover{
     background-color: rgb(228, 228, 228);
}

.user-profile{
    width: 30px;
    border-radius: 35px;
    margin-left: 24px;
    margin-right: 34px;
    cursor: pointer;
}