.horizontal-table{
    display:flex;
    align-items:center;
    position: fixed;
    top : 45px;
    left: 90px;
    right: 18px;
    padding-bottom: 10px;
    padding-top: 15px;
    margin-top: 10px;
    background-color: rgb(255, 255, 255,0.97);

}

.horizontal-table-scroll{
    display:flex;
    overflow-x:auto;
    gap:15px;
    scrollbar-width:none;
    scroll-behavior:smooth;
    flex:1;
    min-width:0;  
    margin-right: 2px;
}



.horizontal-table-item{
    height: 33px;
    font-size: 14px;
    font-weight:bold;
    font-family: arial;
    flex-shrink:0;
    padding:8px 14px;
    border:none;
    border-radius:1px;
    background:#f1f1f1;
    cursor: pointer;
    border-radius: 10px;
}

.arrow{
    height: 20px;
    width: 20px;
    margin-right: 2px;
    flex-shrink: 0;
    margin-left: 2px;
    margin-right: 2px;
    background-color: white;
    border-radius: 10px;

}

#selected-buttons{
    background-color: black;
    color: white;
}