.vertical-table{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 55px;
    left: 5px;
    right: 0px;
    bottom: 0px;
    align-items: center;
    width: 60px;
}

@media(max-width:600px){
    .vertical-table{
        display: none;
    }
}


.vertical-icon{
    border-radius: 8px;
    transition: 0.25s;
    padding-bottom: 30px;
    padding-top: 20px;
}

.vertical-icon:hover{
    background-color:  rgb(228, 227, 227);
}

.vertical-table-text{
    padding-top: 5px;
    margin-top: 0px;
    margin-left: 15px;
    margin-right: 0px;
    font-size: 10px;
    padding-bottom: 6px;

    
}

#subscription-text{
    font-size:10px;
    margin-left: 0px;
    margin-right: 0px;
    
}

#you-text{
    margin-left: 20px;
}
